.footer {
   background-color: var(--clr-dark);
   color: var(--clr-white);
   display: flex;
   justify-content: center;
}
.area {
   width: var(--vp-width);
   max-width: 800px;
   display: flex;
   flex-direction: column;
   gap: 60px;
}
.top {
   display: flex;
   justify-content: space-between;
   align-items: flex-start;
}
.nav {
   display: flex;
   flex-direction: column;
   gap: 8px;
}
.nav > a {
   color: var(--clr-white);
   text-decoration: underline;
   font-size: 0.9rem;
}
.btn {
   color: var(--clr-white-desc);
   text-decoration: none;
   font-size: 1.15rem;
   font-weight: 600;
   padding: 15px 25px;
   transition: var(--ef-trans);
   border-radius: 5px;
   border: 1px solid var(--clr-white-desc);
   text-transform: uppercase;
}
.btn:hover {
   background-color: var(--clr-white-desc);
   color: var(--clr-dark);
}
.details {
   text-align: center;
   display: flex;
   flex-direction: column;
   gap: 15px;
   padding-bottom: 15px;
}
.details > p {
   font-size: 0.7rem;
   color: #bfbfbf;
}
@media only screen and (max-width: 450px) {
   .top {
      display: flex;
      flex-direction: column;
      gap: 25px;
      align-items: center;
      text-align: center;
   }
   .btn {
      order: 1;
   }
   .nav {
      order: 2;
   }
}