@font-face {
	font-family: Montserrat;
	src: url(../public/fonts/Montserrat-Regular.ttf);
	font-weight: 400;
	font-display: swap;
}
@font-face {
	font-family: Montserrat;
	src: url(../public/fonts/Montserrat-Medium.ttf);
	font-weight: 500;
	font-display: swap;
}
@font-face {
	font-family: Montserrat;
	src: url(../public/fonts/Montserrat-SemiBold.ttf);
	font-weight: 600;
	font-display: swap;
}
@font-face {
	font-family: Montserrat;
	src: url(../public/fonts/Montserrat-Bold.ttf);
	font-weight: 700;
	font-display: swap;
}

@font-face {
	font-family: ExoTwo;
	src: url(../public/fonts/Exo2-Bold.ttf);
	font-weight: 700;
	font-display: swap;
}

@font-face {
	font-family: Lora;
	src: url(../public/fonts/Lora-Bold.ttf);
	font-weight: 700;
	font-display: swap;
}
:root {
	--clr-white: #f5f5f7;
	--clr-white-desc: #d2d2d2;
	--clr-dark: #1b1b1b;
	--clr-dark-lite: #242424;

	/* LOL Couse Variables */
	--ft-lol-heading: 'Lora', sans-serif;
	--ft-lol-secondary: 'Montserrat', sans-serif;

	--clr-lol-main: #4c3575;
	--clr-lol-main-hover: #38255a;

	--ef-trans: 250ms ease-in-out;

	--vp-max-width: 1100px;
	--vp-width: 95%;
}
* {
	padding: 0;
	margin: 0;
	scroll-behavior: smooth;
	box-sizing: border-box;
	font-family: 'Montserrat', sans-serif;
}
body {
	background-color: var(--clr-dark);
	color: var(--clr-white);
}
.lol-cta {
	background-color: transparent;
	width: 100%;
	display: flex;
	justify-content: center;
	padding: 30px 0;
}
.lol-cta > a {
	background-color: var(--clr-lol-main);
	color: var(--clr-white);
	font-weight: 800;
	transition: var(--ef-trans);
	font-size: 1.2rem;
	box-shadow: 0 0 25px 5px var(--clr-lol-main);
	padding: 12px 45px;
	border-radius: 5px;
	text-decoration: none;
	text-align: center;
}
.lol-cta > a:hover {
	background-color: var(--clr-lol-main-hover);
}
